{% include 'header.html' %}
<body>
<div class="container-fluid" id="main">
    {% include 'top_menus.html' %}
    <div class="row">
        {% include 'left_menus.html' %}
        <div class="col-md-9 col-lg-10 main">
            <h2 class="my-4">Add a New Book</h2>
            <form action="{{ url_for('add_book') }}" method="POST" enctype="multipart/form-data">
                {% if message is defined and message %}
                    <div class="alert alert-warning">{{ message }}</div>
                {% endif %}
                <div class="">
                    <label for="title">Title:</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="Enter book title" required>
                </div>
                <div class="mb-3">
                    <label for="author">Author:</label>
                    <input type="text" class="form-control" id="author" name="author" placeholder="Enter author name" required>
                </div>
                <div class="mb-3">
                    <label for="rack">Rack:</label>
                    <input type="text" class="form-control" id="rack" name="rack" placeholder="Please enter rack number" required>
                </div>
                <div class="mb-3">
                    <label for="quantity">Quantity:</label>
                    <input type="number" class="form-control" id="quantity" name="quantity" value="1" min="1" required>
                </div>
                <div class="mb-3">
                    <label for="image">Book Image:</label>
                    <input type="file" class="form-control" id="image" name="image" accept="image/*">
                </div>
                <button type="submit" class="btn btn-primary">Add Book</button>
            </form>
            <hr class="my-4">
        </div>
    </div>
</div>
</body>
</html>