{% include 'header.html' %}
<body>
<div class="container-fluid" id="main">
    {% include 'top_menus.html' %}
    <div class="row row-offcanvas row-offcanvas-left">
        {% include 'left_menus.html' %}
        <div class="col-md-9 col-lg-10 main">
            <h2>View All Books</h2>
            <a href="{{ url_for('add_book') }}" class="btn btn-primary mb-3">Add New Book</a>
            {% if books %}
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Rack</th>
                        <th>Quantity</th>
                        <th>ISBN</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for book in books %}
                        <tr>
                            <td>{{ book.id }}</td>
                            <td>{{ book.title }}</td>
                            <td>{{ book.author }}</td>
                            <td>{{ book.rack }}</td>
                            <td>{{ book.quantity }}</td>
                            <td>{{ book.isbn }}</td>
                            <td>
                                <a href="{{ url_for('edit_book', id=book.id) }}" class="btn btn-warning btn-sm">Edit</a>
                                <a href="{{ url_for('delete_book', id=book.id) }}" class="btn btn-danger btn-sm"> Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No books found.</p>
            {% endif %}
        </div>
    </div>
</div>
</body>
</html>
