{% include 'header.html' %}
<body>
  <div class="container-fluid" id="main">
  {% include 'top_menus.html' %}  	
    <div class="row row-offcanvas row-offcanvas-left">
      {% include 'left_menus.html' %}
      <div class="col-md-9 col-lg-10 main"> 
		<h2>Dashboard</h2>
          <div class="col-md-12 mb-3">
              <form action="{{ url_for('search_books') }}" method="POST" class="form-inline">
                  <input type="text" name="search_term" class="form-control mr-2" placeholder="Search for books..." required value="{{ search_term if search_term else '' }}">
                  <button type="submit" class="btn btn-primary">Search</button>
              </form>
          </div>
          {% if search_results %}
              <table class="table table-striped">
                  <thead>
                  <tr>
                      <th>Title</th>
                      <th>Author</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for book in search_results %}
                      <tr>
                          <td>{{ book.title }}</td>
                          <td>{{ book.author }}</td>
                      </tr>
                  {% endfor %}
                  </tbody>
              </table>
          {% else %}
              <p>No books found.</p>
          {% endif %}
            <div class="row mb-3">
          <div class="col-xl-3 col-lg-6">
            <div class="card card-inverse card-success">
              <div class="card-block bg-success">
                <div class="rotate">
                  <i class="fa fa-user fa-5x"></i>
                </div>
                <h6 class="text-uppercase">Total Books</h6>
                <h1 class="display-1"><a href="">150</a></h1>
              </div>
            </div> 
          </div>        
          <div class="col-xl-3 col-lg-6">
            <div class="card card-inverse card-info">
              <div class="card-block bg-info">
                <div class="rotate">
                  <i class="fa fa-twitter fa-5x"></i>
                </div>
                <h6 class="text-uppercase">Available Books</h6>
                <h1 class="display-1"><a href="">30</a></h1>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6">
            <div class="card card-inverse card-warning">
              <div class="card-block bg-warning">
                <div class="rotate">
                  <i class="fa fa-share fa-5x"></i>
                </div>
                <h6 class="text-uppercase">Returned Books</h6>
                <h1 class="display-1"><a href="">50</a></h1>
              </div>
            </div>
          </div>
		  <div class="col-xl-3 col-lg-6">
            <div class="card card-inverse card-danger">
              <div class="card-block bg-danger">
                <div class="rotate">
                  <i class="fa fa-list fa-4x"></i>
                </div>
                <h6 class="text-uppercase">Issued Books</h6>
                <h1 class="display-1"><a href="">80</a></h1>
              </div>
            </div>
          </div>
        </div>
            <hr>
        </div>
      </div>     
    </div>
  </body>
</html>