<div class="col-md-3 col-lg-2 sidebar-offcanvas" id="sidebar" role="navigation">
    <ul class="nav flex-column pl-1 leftMenus">
        {% if session['responsibilities'] %}
            {% for responsibility in session['responsibilities'] %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ responsibility['responsibility_path'] }}">
                        <strong> {{ responsibility['responsibility_name'] }}</strong>
                    </a>
                </li>
            {% endfor %}
        {% else %}
            <li>No menu items available</li>
        {% endif %}
        <li class="nav-item"><a class="nav-link" href="{{ url_for('issued_books') }}"><strong>Issued Books</strong></a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}"><strong>Logout</strong></a></li>
    </ul>
</div>




