<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <!-- Brand -->
        {% if session['loggedin'] %}
            <button class="btn btn-primary hamburger-icon" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar" aria-controls="sidebar">
                <i class="fas fa-bars"></i>
            </button>
        {% endif %}

        <a class="navbar-brand" href="#">Library Management System</a>

        <!-- Toggler for mobile view -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsingNavbar" aria-controls="collapsingNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="collapsingNavbar">

            <!-- Right-aligned nav items -->
            <ul class="navbar-nav ms-auto">
                {% if session['loggedin'] %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('view_user') }}">{{ session['first_name'] }}</a>
                    </li>
                    <li class="nav-item">
                        <span class="navbar-text mx-2">|</span> <!-- Separator for visual clarity -->
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
