{% include 'header.html' %}
<script src="{{ url_for('static',filename='js/user.js') }}"></script>
<body>
<div class="container-fluid" id="main">
    {% include 'top_menus.html' %}
    <div class="row row-offcanvas row-offcanvas-left">
        {% include 'left_menus.html' %}
        <div class="col-md-9 col-lg-10 main">
            <h3>User Listing</h3>
            <br>
            <div class="float-right mb-2 col-md-2">
                <a class="btn btn-info" href="{{ url_for('register') }}">
                    <span class="glyphicon glyphicon-plus"></span> Add User
                </a>
            </div>
            <br><br>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Edit Role</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{user.first_name}}{{ user.last_name }}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.role_name}}</td>
                        <td>
                            <form action="{{ url_for('user_roles') }}" method="POST">
                                <div class="form-group">
                                    <label for="role{{ user.id }}">Role:</label>
                                    <input type="hidden" name="user_id" value="{{ user.id }}">
                                    <select id="role{{ user.id }}" name="role_id" class="form-control" onchange="this.form.submit()">
                                        <option value="">-- Select Role --</option>
                                        {% for role in roles %}
                                            <option value="{{ role.id }}"
                                                    {% if role.id == user.role %} selected {% endif %}>
                                                {{ role.name }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </form>
                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <hr>
        </div>
    </div>
</div>
